<div class={{this.styleNamespace}}>
  <MovieListHeader />

  <p>Sort Movies by Rating:</p>
  <button class='sort-asc' type="button" {{on 'click' this.sortMovies}}>Ascending</button>
  <button class='sort-desc' type="button" {{on 'click' this.sortMovies}}>Descending</button>

  <MovieList @movies={{this.movies}} />

  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>