<div class={{this.styleNamespace}}>
  <MovieListHeader />

<button class='sort-asc' type="button" {{on 'click' this.sortMovies}}>Sort By Rating - Ascending</button>
<button class='sort-desc' type="button" {{on 'click' this.sortMovies}}>Sort By Rating - Descending</button>

  <MovieList @movies={{this.movies}} />

  <AddMovieForm @loadMovies={{this.loadMovies}} />
</div>